/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 8, 2022, 12:22:16 PM
    Author     : Lawand
*/
body {
  color: #000;
  overflow-x: hidden;
}


#formPos {
  font-size: 18px;
  padding-top: 50px;
  width: 750px;
  position: relative;
   
}

#navTitle {
    font-size: 20px;
}


