<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginCheck</servlet-name>
        <servlet-class>Controller.LoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signUp</servlet-name>
        <servlet-class>Controller.signUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>projectcontroller</servlet-name>
        <servlet-class>Controller.projectcontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingappointment</servlet-name>
        <servlet-class>Controller.bookingappointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>Controller.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffcontroller</servlet-name>
        <servlet-class>Controller.staffcontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProject</servlet-name>
        <servlet-class>Controller.updateProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStatus</servlet-name>
        <servlet-class>Controller.updateStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginCheck</servlet-name>
        <url-pattern>/LoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signUp</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>projectcontroller</servlet-name>
        <url-pattern>/projectcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingappointment</servlet-name>
        <url-pattern>/bookingappointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffcontroller</servlet-name>
        <url-pattern>/staffcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProject</servlet-name>
        <url-pattern>/updateProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStatus</servlet-name>
        <url-pattern>/updateStatus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
